@font-face {
  font-family: "Leorio";
  src: url("/fonts/Leorio.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unageo Regular";
  src: url("/fonts/Unageo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  outline: 0;
}

html body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

body {
  margin: auto;
  background-color: #fbfbfb;
}

/* Start: Font family */
.fontUnageoRegular {
  font-family: "Unageo Regular", sans-serif;
  font-display: swap;
  font-weight: 400;
}

.fontUnageoRegularSemiBold {
  font-family: "Unageo Regular", sans-serif;
  font-display: swap;
  font-weight: 500;
}

.fontUnageoRegularBold {
  font-family: "Unageo Regular", sans-serif;
  font-display: swap;
  font-weight: 600;
}

/* End: Font family */

/* Start: Colors */
.cFFFFFF {
  color: #FFFFFF;
}

.c0091FF {
  color: #0091FF;
}

.c424242 {
  color: #424242;
}

.cC1E4FB {
  color: #C1E4FB;
}

.c868686 {
  color: #868686;
}

.c272727 {
  color: #272727;
}

.c131313 {
  color: #131313
}

.c9A9A9A {
  color: #9A9A9A
}

.bg-cFFFFFF {
  background-color: #FFFFFF;
}

.bg-cC1E4FB {
  background-color: #C1E4FB;
}

/* End: Colors */

/* Start font size */
.fs12 {
  font-size: calc(0.5vw + 8px);
  /* Escala desde ~12px en móviles hasta ~18px en 2K */
}

.fs14 {
  font-size: calc(0.5vw + 10px);
  /* Escala desde ~14px en móviles hasta ~20px en 2K */
}

.fs16 {
  font-size: calc(0.5vw + 12px);
  /* Escala desde ~16px en móviles hasta ~22px en 2K */
}

.fs18 {
  font-size: calc(0.6vw + 12px);
  /* Escala desde ~18px en móviles hasta ~27px en 2K */
}

.fs24 {
  font-size: calc(0.8vw + 16px);
  /* Escala desde ~24px en móviles hasta ~36px en 2K */
}

.fs30 {
  font-size: calc(1vw + 20px);
  /* Escala desde ~30px en móviles hasta ~46px en 2K */
}

.fs52 {
  font-size: calc(1.5vw + 36px);
  /* Escala desde ~52px en móviles hasta ~74px en 2K */
}

/* End font size */
/* Start font weight */
.fw400 {
  font-weight: 400;
}

/* End font weight */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-display: swap;
}

p,
div,
a,
span {
  font-display: swap;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding-left: 11%;
  padding-right: 11%;
}

button {
  border-radius: 22px;
  background-color: #2492ff;
  padding: 10px 26px;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  margin-right: 42px;
}

@media screen and (max-width: 767px) {
  section {
    padding: 60px 12px 60px 12px;
  }
}