.contactForm {
  padding: 30px 160px;
  font-family: 'Unageo Regular', sans-serif;
}

.title {
  color: #3a1d1d;
  margin-bottom: 2rem;
  width: fit-content;
}

.input {
  margin-bottom: 1rem;
}

.formInput {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #ccc !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: border-color 0.2s ease;
  font-size: calc(0.5vw + 15.4px);
}

.formInput:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: none !important;
}

.formInput::placeholder {
  color: #999;
  font-size: calc(0.5vw + 15.4px);
}

.button {
  margin-top: 0.5rem;
  border: 1px solid black;
  border-radius: 0;
}

.messageText {
  line-height: 1.4;
  max-width: 350px;
}

.messageContainer {
  margin: auto;
}

.grid {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .contactForm {
    padding: 30px 20px;
  }

  .grid {
    margin-top: 30px;
  }

}