.footer {
  text-align: center;
  padding: 2rem;
  background: #333;
  color: white;
  width: 100%;
  margin: 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .footer {
    width: auto;
    margin-top: 0;
    padding: 0;
    height: auto;
  }
}