.footer {
  text-align: center;
  padding: 2rem;
  background: #333;
  color: white;
  width: 100%;
  margin: 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  padding: 10px 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    margin-top: 0;
    padding: 1rem 0;
    height: auto;
    padding-left: 0 !important;
  }

  .buttonContainer {
    justify-content: center;
    padding-left: 0;
    margin: 0;
  }
}