.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px 20px 70px;
  font-family: 'Unageo Regular', sans-serif;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: saturate(180%) blur(10px);

}

.logo {
  font-family: 'Unageo Regular', sans-serif;
  font-size: 21px;
  font-weight: 500;
}

.nav {
  margin-right: 130px;
}

.nav a {
  font-family: 'Unageo Regular', sans-serif;
  margin-left: 150px;
  font-size: 21px;
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .header {
    padding: 50px;
    background-color: #fbfbfb;
  }

  .nav {
    display: none;
  }

  .nav.opened {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fbfbfb;
    z-index: 20;
    padding-bottom: 30px;
    width: 100%;

  }

  .nav.opened a {
    margin-left: 30px;
  }

  .nav a {
    display: block;
    padding: 10px 20px;
    /* Adjust as needed */
  }
}