.hero {
  width: 100%;
  overflow: hidden;
  background-color: #fbfbfb;
  margin-bottom: 150px;
}

.image {
  display: block;
  margin: 180px auto 0;
  max-width: 100%;
  height: auto;
  width: 500px;
  height: auto;
  object-fit: cover;
}

.button {
  display: block;
  margin: 0px auto;
  background-color: #E7E7E7;
  color: black;
  border: none;
  padding: 5px 30px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 130px;
}

@media screen and (max-width: 768px) {
  .image {
    width: 50%;
    margin-top: 80px;
  }

  .hero {
    padding: 0;
    margin: 0;
  }

  .button {
    padding: 5px 20px;
    margin: 60px auto;
    font-size: 20px;
  }

}